<!DOCTYPE html>
<html>
    <head>
        <title>iBookList</title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <link rel="stylesheet" type="text/css" href="style.css">
    
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine0/style.css" />
	<!--script type="text/javascript" src="engine0/jquery.js"></script-->
	<!-- End WOWSlider.com HEAD section --></head>
    <body>
        <div id="main-conatainer">
            <header id="header">
                <div>
                  <ol class="breadcrumb top-menu">
                    <li><a href="#">Sign in</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Need Help!</a>                          </li>
                  </ol>
                </div>
               <div class="row">
                  <div class="col-lg-8 search" >
                    <div class="input-group">
                        
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Find!</button>
                      </span>
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-                                         expanded="false">Shop By University <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">UNCG</a></li>
                          <li><a href="#">NC SATE action</a></li>
                          <li><a href="#">NCCU</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div><!-- /btn-group -->
                      <input type="text" class="form-control" aria-label="...">
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div> <!-- end row -->
                <h1>iBookList</h1>
            </header>
            <div id="content">
            
            </div>
            <footer id="footer">
              
              <row class="col-lg6">
              <ol class="breadcrumb bottom-menu">
                    <li><a href="#">Sign in</a></li>
                    <li><a href="#">Sign up</a></li>
                <li><a href="#">Need Help!</a></li>
                  <li><a href="#">Contact Us</a></li>
                    <li><a href="#">About Us</a></li>
                <li><a href="#">How does it work?</a></li>
                      </ol>
              </row>
            </footer>
            <div class="copy">
              <p>2015 &copy; iBookList</p>
            </div>
        </div>

        
    </body>
</html>